body {
    color: rgb(226, 236, 226);
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    text-align: center;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 a {
    color: rgb(9, 216, 9);
    text-decoration: none;
    
}


head image {
    width: 5px;
    height: 5px;
    border-radius: 40%;
    border: 5px solid blue;
    cursor: pointer;
}
.center {
    text-align: center;
}



footer image {
    width: 20px;
    height: 20px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0% 50px;
}

    nav a:hover {
color: rgb(83, 82, 82);
}

h1{
    font-size: 50px;
    margin-top: 60px;
}

h2{
    margin-top: 60px;
    color: aqua;
    font-size: 50px;
}
h3{
    margin-top: 60px;
    font-size: 30px;
}

section {
    margin: 90px;
}

p {
    text-decoration: none;
    font-size: 20px;
  }


